.menuItem {
    text-align: center;
    background-color: rgb(219,0,50);
    border: 2px inset rgb(190, 182, 182);
    margin: 2px 4px 2px 4px;
    padding: 2px 10px 2px 10px;
    display: inline-flex;
    flex-shrink: 1;
    flex-grow: 1;
}
.menuItem a {
    font-size: 78%;
    font-family: 'Itim', cursive;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: auto;
}
body {
    background-color: rgb(27, 33, 41);
}
.header {
    font-family: 'Itim', cursive;
    font-size: larger;
    color: white;
    text-align: center;
    position: relative;
}
.menuBox {
    width: 80vw;
    height: 90vh;
    font-size: 20px;
    background-color: rgb(11, 31, 61);
    margin: 8vh auto 8vh auto;
    position: relative;
    border: 3px inset rgb(190, 182, 182);
}
#bulldogImg {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
}
#menuPic {
    min-width: 85%;
    max-width: 95%;
    height: auto;
    max-height: 80%;
    position: relative;
    border: 2px inset rgb(190, 182, 182);
}
#menuDesc {
    font-family: 'Itim', cursive;
    color: black;
    font-size: auto;
    height: auto;
    max-height: 15%;
    min-width: 85%;
    max-width: 95%;
}
#menuList {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}
#leftCont {
    float: left;
    width: 35%;
    height: 50%;
    margin: 3vh 2vw 2vh 1vw;
    background-color: none;
    flex: 45%;
    order: 1;
    flex-grow: 1
}
#rightCont {
    float: right;
    text-align: center;
    width: 35%;
    height: 50%;
    flex:45%;
    margin: 3vh 2vw 2vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
    background-color: white;
    border: 3px inset rgb(190, 182, 182);
    order: 2;
    flex-grow: 1;
}